<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We would like you to share your fitness data so we can track your daily exercises</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We would like you to share your fitness data so we can track your daily exercises</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
